body {
    background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#scene-container {
    width: 100vw;
    height: 500px;
}
.alavanca {
    position: absolute;
    right: 50px;
    top: 200px;
    width: 30px;
    height: 100px;
    background: linear-gradient(45deg, #ff0000, #990000);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.7);
}